<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#">Hi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Lets Quiz </a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact/">Contact </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/signin/">Log In </a>
            </li>
          </ul>
        </div>
      </nav>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

   <div class="container" style='text-align:center; position: absolute; top:20%; left:5%;'>
      <h3 style='margin-bottom:20px;'>AboutUS</h3>
      <p style='font-size:20px; margin-bottom:20px;'>Hi my name is Monu Kaushik and I am a software developer and this project is made in django framework if you interested for more project and get more details about django and python follow me on github</p>
      <p >Email :- monukaushik51@gmail.com <br>
         Contact No:- 9582185588 <br>
         Github link :- https://github.com/monukaushik <br>
      </p>
   </div>

    <footer class='navbar bg-dark w-100' style='position:fixed; bottom:0; font-size: 12px; color: white; text-align:center;'>
      <p style='display: flex; margin: 5px 0px;'> Created By : Monu Kaushik<br>
      <a href="mailto : monukaushik51@gmail.com" style='margin-left:20px;'>monukaushik51@gmail.com</a></p>
    </footer>
</html>